/*
 * red: #d05353
 * orange: #e58f65
 * yellow: #f9e784
 */

* {
    font-family: monospace;
}

body {
    background-color: #f9e784;
    padding: 30px 50px;
}

div.title {
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 40px;
}

input.login {
    display: block;
    padding: 10px;
    font-size: 20px;
    border: 5px solid #e58f65;
    margin: 10px 0px;
}

button {
    background-color: #e58f65;
    color: white;
    cursor: pointer;
    padding: 10px 30px;
    border-radius: 5px;
    border: none;
    font-size: 20px;
}

button:hover {
    background-color: #d05353;
}

div.footer {
    margin-top: 40px;
    font-size: 15px;
}

a {
    color: black;
    transition: color 250ms;
}

a:hover {
    color: #d05353;
}
