.hidden {
    display: none !important;
}

div.map {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

canvas {
    width: 100%;
    height: 100%;
}

div.add-shelf-buttons {
    position: fixed;
    bottom: 30px;
    left: 30px;
    display: flex;
    gap: 30px;
}

div.add-shelf-buttons button {
    font-size: 40px;
    height: 60px;
    width: 60px;
    border-radius: 10px;
    border: 3px solid #f9e784;
}

div.sidebar {
    backdrop-filter: blur(20px);
    position: fixed;
    right: 30px;
    top: 30px;
    bottom: 30px;
    padding: 30px;
    width: 400px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    gap: 25px;
    border: 3px solid #e58f65;
    word-break: break-word;
}

div.sidebar-heading {
    font-size: 30px;
}

div.shelf-angle {
    font-size: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input.slider {
    -webkit-appearance: none;
    width: 100%;
    background: #e58f65;
    height: 8px;
    border-radius: 5px;
}

div.matches-header {
    font-size: 20px;
}

div.matches {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

div.match {
    background-color: #e58f65;
    color: white;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
}

div.match select {
    border: none;
    background-color: #d05353;
    color: white;
    font-size: 18px;
    padding: 15px;
}

div.x {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px 15px;
    font-size: 18px;
    cursor: pointer;
    font-weight: bold;
}

div.x:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

div.match-type {
    font-size: 16px;
    font-weight: bold;
}

div.match input {
    border: none;
    padding: 5px 8px;
    font-size: 15px;
}

div.match input.error {
    border: 3px solid black;
}

div.match div.error {
    padding: 5px 10px;
    font-size: 12px;
    background-color: rgba(0, 0, 0, 0.3);
}

div.add-match {
    border-radius: 5px;
    display: flex;
    gap: 10px;
}

div.add-match select {
    flex: 0 0 80%;
    background-color: #e58f65;
    border: none;
    color: white;
    padding: 5px;
}

div.add-match button {
    flex: 1;
    font-size: 18px;
}

div.matches.active div.match,
div.matches.active div.add-match select,
div.matches.active div.add-match button {
    background-color: #ac4444;
}

div.delete-shelf {
    text-decoration: underline;
    cursor: pointer;
    font-size: 15px;
    text-align: center;
}

div.delete-shelf:hover {
    text-decoration: none;
}
