* {
    box-sizing: border-box;
    font-family: monospace;
}

body {
    background-color: #f9e784;
    padding: 50px;
    font-size: 16px;
}

div.title {
    font-weight: 600;
    font-size: 40px;
    margin-bottom: 40px;
}

button {
    background-color: #e58f65;
    color: white;
    cursor: pointer;
    border: none;
}

button:hover {
    filter: brightness(0.9);
}

a {
    color: #ac4444;
    transition: color 250ms;
}

a:hover {
    color: black;
}

.hidden {
    display: none !important;
}
