div.section {
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    gap: 20px;
}

div.header {
    font-size: 30px;
}

li {
    margin: 5px 0;
}

a.bookmark {
    background-color: #e58f65;
    color: white;
    cursor: pointer;
    border: none;
    padding: 5px 15px;
    border-radius: 5px;
    text-decoration: none;
    white-space: nowrap;
    margin: 5px 0;
}

a.bookmark:hover {
    filter: brightness(0.9);
}

@media (max-width: 1000px) {
    body {
        padding: 30px 15px;
        font-size: 18px;
    }

    div.section {
        gap: 15px;
    }

    div.title {
        font-size: 40px;
        margin-bottom: 15px;
    }

    div.header {
        font-size: 35px;
    }
}

