canvas {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

div.tooltip {
    position: fixed;
    background-color: white; /* rgba(255, 255, 255, 0.8); */
    color: black;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 15px;
    max-width: 400px;
    word-break: break-word;
    pointer-events: none;
}
